body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
	background-color: lightgray;
	margin-bottom: 30px;
}

nav a {
	text-decoration: none;
	color: black;
	margin-left: 200px;
	transition: text-decoration 0.3s ease, font-size 0.3s ease;
}

nav a:hover {
	color: orange;
	text-decoration: underline;
	font-size: 1.1rem;
}

.footer {
	margin-top: 20px;
	padding: 5px 0;
	width: 100%;
	margin: 0;
	bottom: 0;
	background-color: lightgray;
	color: black;
	text-align: center;
}

.centered-container {
  align-items: center;
  width: 100%;
}

.text-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-part {
	margin-left: 20px;
	display: flex;
  align-items: center;
}

.post-button {
  border: 1px solid #ddd;
  height: 40px;
  width: 100px;
  border-radius: 3px;
  margin-left: 20px;
  transition: transform 0.3s ease;
}

.post-button:hover {
  transform: scale(1.2);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  margin-left: 10px;
}

#messageForm {
  margin-bottom: 20px;
}

textarea {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#messageContainer div {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-top: 20px;
  max-width: 80%; 
  background-color: #f9f9f9;
  transition: background-color 0.3s, transform 0.3s ease;
  word-wrap: break-word; 
  display: inline-block; 
  box-sizing: border-box;
}

#messageContainer div:hover {
  transform: scale(1.1);
  background-color: yellow;
}
