
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lilita+One&family=Pacifico&family=Pattaya&family=Rubik+Wet+Paint&display=swap');


body {
	background-image: url("background.jpg");
	font-family: Poppins, sans-serif;
	padding: 0;
	margin: 0;
}

header {
	font-family: Pacifico, sans-serif;
	color: white;
	background-color: rgba(9, 9, 10, 0.9);
	margin-bottom: 3vh;
	width: 100%;
}

nav a {
	text-decoration: none;
	color: white;
	margin-left: 10vw;
	transition: text-decoration 0.3s ease, font-size 0.3s ease;
}

nav a:hover {
	color: #c63ce8;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.1rem;
}

.footer {
	font-weight: bold;
	text-decoration: underline;
	padding: 1vh 0;
	width: 100%;
	background-color: rgba(114, 30, 151, 0);
	color: black;
	text-align: center;
}

.centered-container {
	align-items: center;
	width: 100%;
}

.text-area {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-messages {
	display: flex;
	font-family: Dancing Script, sans-serif;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title-part {
	margin-left: 2vw;
	color: #ed1a2f;
	display: flex;
	align-items: center;
}

.post-button {
	font-family: Pacifico, sans-serif;
	background-color: #9a1fa3;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	margin-left: 20px;
}

.post-button:hover {
	background-color: #ac28b5;
}

h1
{
	color:white;
	font-family: Pattaya, sans-serif;
}

h1, h2, h4 {
	display: flex;
	justify-content: center;
	align-items: center;
}

h2, h4 {
	color: red;
}

h2 {
	margin-left: 1vw;
}

h4 {
	margin-left: 0.5vw;
}

#messageForm {
	margin-bottom: 2vh;
}

textarea {
	border: 1px solid #ddd;
	border-radius: 1vh;
	width: 50%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#messageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#messageContainer div {
	padding: 1vh;
	border: 1px solid #ddd;
	border-radius: 2vh;
	margin-top: 2vh;
	width: 80%;
	font-size: 1.1rem;
	max-width: 80vw; 
	background-color: #f9f9f9;
	transition: background-color 0.3s, transform 0.3s ease;
	word-wrap: break-word; 
	display: inline-block; 
	box-sizing: border-box;
}

#messageContainer div:hover {
	transform: scale(1.05);
	background-color: yellow;
}


/* Allowing Layout to be flexible in android/phone screens */
@media (max-width: 500px){
	.text-area {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	textarea {
		width: 90%;
		height: 150px;
		margin: 10px 0;
	}
	
	.post-button {
		font-size: 1.2rem;
		width: 100px;
	}
	
	#messageContainer div {
		width: 80%;
		font-size: 1.1rem;
	}
}